<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87786044445-0b3gflphh6qpltgc5h4o67g0suduhd2h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87786044445-0b3gflphh6qpltgc5h4o67g0suduhd2h</string>
	<key>API_KEY</key>
	<string>AIzaSyAcLgCeQNvd8aMiHIU9J1kDls6Oiig6yyI</string>
	<key>GCM_SENDER_ID</key>
	<string>87786044445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Reflect.Goal</string>
	<key>PROJECT_ID</key>
	<string>goal213</string>
	<key>STORAGE_BUCKET</key>
	<string>goal213.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87786044445:ios:431682676976d10f161af4</string>
	<key>DATABASE_URL</key>
	<string>https://goal213-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>